<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>01-about-cats</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>

<header class='header'>
  <h1 class='header-title'>Cats</h1>
</header>

<main>
  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat1.jpg' alt='Бенгальский кот, мальчик, 2 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 1</h2></a>
      <ul class="cat-description">
        <li>Пол: Male</li>
        <li>Возраст: 2 года</li>
        <li>Порода: Бенгальская кошка</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>


  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat2.jpeg' alt='Сиамская кошка, девочка, 4 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 2</h2></a>
      <ul class="cat-description">
        <li>Пол: Female</li>
        <li>Возраст: 4 года</li>
        <li>Порода: Сиамская кошка</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>


  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat3.jpeg' alt='Балинезийская кошка, мальчик, 3 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 3</h2></a>
      <ul class="cat-description">
        <li>Пол: Male</li>
        <li>Возраст: 3 года</li>
        <li>Порода: Балинезийская кошка</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>


  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat4.jpeg' alt='Кошка породы Петерболд, девочка, 5 лет'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 4</h2></a>
      <ul class="cat-description">
        <li>Пол: Female</li>
        <li>Возраст: 5 лет</li>
        <li>Порода: Петерболд</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>


  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat5.jpeg' alt='Русская голубая кошка, мальчик, 4 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 5</h2></a>
      <ul class="cat-description">
        <li>Пол: Male</li>
        <li>Возраст: 4 года</li>
        <li>Порода: Русская голубая кошка</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>

  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat6.jpeg' alt='Турецкая ангора, девочка, 6 лет'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 6</h2></a>
      <ul class="cat-description">
        <li>Пол: Female</li>
        <li>Возраст: 6 лет</li>
        <li>Порода: Турецкая ангора</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>

  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat7.jpeg' alt='Канадский сфинкс, мальчик, 7 лет'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 7</h2></a>
      <ul class="cat-description">
        <li>Пол: Male</li>
        <li>Возраст: 7 лет</li>
        <li>Порода: Канадский сфинкс</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>

  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat8.jpeg' alt='Манчкин, девочка, 3 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 8</h2></a>
      <ul class="cat-description">
        <li>Пол: Female</li>
        <li>Возраст: 3 года</li>
        <li>Порода: Манчкин</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>

  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat9.jpeg' alt='Балинезийская кошка, мальчик, 4 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 9</h2></a>
      <ul class="cat-description">
        <li>Пол: Male</li>
        <li>Возраст: 4 года</li>
        <li>Порода: Балинезийская кошка</li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>

  <article class='cat-item'>
    <div class='image-section'>
      <img class='cat-image' src='image/cat10.jpeg' alt='Норвежская лесная кошка , девочка, 4 года'>
    </div>
    <div class='full-description-section'>
      <p class='cat-full-description'>Сюда можно вписать полную информацию о коте. Например что он любит кушать или какие у него любимые игры или его нрав</p>
    </div>
    <div class='description-section'>
      <a class='cat-ref' href='https://www.youtube.com/watch?v=a3Z7zEc7AXQ'><h2 class='cat-header'>Кот номер 10</h2></a>
      <ul class="cat-description">
        <li>Пол: Female</li>
        <li>Возраст: 4 года</li>
        <li>Порода: Норвежская лесная кошка </li>
        <li>Болезни: нет</li>
      </ul>
      <p class='cat-status'>Ждет добрую и любящую семью</p>
    </div>
  </article>
</main>

<footer class='footer'>
  <section class='footer-left'>
    <h3 class='footer-title'>Напишите нам:</h3>
    <ul class='mails'>
      <li><a href='mailto:cats@babuli.ru' class='footer-link'>cats@babuli.ru</a></li>
      <li><a href='mailto:vnuchek@babuli.ru' class=footer-link>vnuchek@babuli.ru</a></li>
    </ul>
    <ul class='phones'>
      <li><a href='tel:+79996660000' class='footer-link'>+7 (999) 666-00-00</a></li>
      <li><a href='tel:+71234567890' class='footer-link'>+7 (123) 456-78-90</a></li>
    </ul>
  </section>
  <section class='footer-right'>
    &copy; 2018&nbsp;ООО &laquo;<a href='#'>Бабушкины котятки</a>&raquo;
  </section>
</footer>
</body>
</html>
