<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>07</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>

<input type="checkbox" id="show-settings-checkbox" class="show-settings-checkbox"/>
<input checked type="checkbox" id="jokes-checkbox" class="settings-checkbox jokes-checkbox">
<input checked type="checkbox" id="tv-checkbox" class="settings-checkbox tv-checkbox">
<input checked type="checkbox" id="car-checkbox" class="settings-checkbox car-checkbox">
<input checked type="checkbox" id="info-checkbox" class="settings-checkbox info-checkbox">
<input checked type="checkbox" id="visit-checkbox" class="settings-checkbox visit-checkbox">
<input checked type="checkbox" id="playbill-checkbox" class="settings-checkbox playbill-checkbox">

<article class="settings-popup">

  <section class="settings-popup__item">
    <span>Лучшие анекдоты</span>
  </section>

  <section class="settings-popup__item">
    <span>Телепрограмма</span>
  </section>

  <section class="settings-popup__item">
    <span>Автомобильные новости</span>
  </section>

  <section class="settings-popup__item">
    <span>Погода и Пробки</span>
  </section>

  <section class="settings-popup__item">
    <span>Посещаемое</span>
  </section>

  <section class="settings-popup__item">
    <span>Афиша</span>
  </section>

</article>

<header class="topbar">
  <section class="topbar__location">
    <img src="img/geo-arrow-ic.png" class="geo-icon" alt="geo icon"/>
    <p class="gray-text topbar__location_current">
      Екатеринбург
    </p>
  </section>

  <section class="topbar__settings">
    <label for="show-settings-checkbox">
      <span class="topbar__settings_text">Настройка</span>
    </label>
  </section>
</header>

<aside class="aside">
  <section class="login">
    <p class="user-login ya-text bold-text">login</p>
    <p>Почта <span class="bold-text">138</span></p>
  </section>
</aside>

<section class="body-top">
  <section class="body-top__left-section">
    <section class="body-top__left-section__header">
      <a
        href="https://youtu.be/a3Z7zEc7AXQ"
        class="header-tab header-tab_big visited-link">
        Сейчас в СМИ
      </a>

      <a
        href="https://youtu.be/a3Z7zEc7AXQ"
        class="header-tab header-tab_big">
        в Екатеринбурге
      </a>

      <p class="header-tab small-text current-time gray-text time-tab">
        13 ноября, понедельник 16:57
      </p>
    </section>

    <ul class="body-top__left-section__list">
      <li class="news-item">В кремле ответили на слова экс-главы ЦРУ о "запуганном" Путиным Трампе</li>
      <li class="news-item">Число жертв землетрясения в Иране и Ираке превысило 350 человек</li>
      <li class="news-item">Вероятной целью проникновения в РФ украинского дрона назвали шпионаж</li>
      <li class="news-item">Кремль рассказал о местонахождении не явившегося в суд Сечина</li>
      <li class="news-item">Кремль прокомментировал перенос послания Путина Федеральному собранию</li>
    </ul>

    <section class="body-top__left-section__footer">
      <section class="body-top__left-section__footer__currency">
        <p class="currency-item bold-text">
          USD ЦБ
        </p>

        <p class="currency-item">
          59,18
        </p>

        <p class="currency-item gray-text">
          -0,10
        </p>
      </section>

      <section class="body-top__left-section__footer__currency">
        <p class="currency-item bold-text">
          EUR
        </p>

        <p class="currency-item">
          68,92
        </p>

        <p class="currency-item gray-text">
          -0,06
        </p>
      </section>

      <section class="body-top__left-section__footer__currency">
        <p class="currency-item bold-text">
          НЕФТЬ
        </p>

        <p class="currency-item">
          63,44
        </p>

        <p class="currency-item gray-text">
          -0,27%
        </p>
      </section>

      <p class="currency-item gray-text">
        ...
      </p>
    </section>
  </section>

  <section class="body-top__right-section">
    <img src="img/round-image.png" class="discount-img" alt="Скидка на маркете">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="discount-name">32 ГБ студентам<br/>на Яндекс.Диске</a>
    <p class="ya-market">Бесплатно и навсегда</p>
  </section>
</section>

<img src="img/ya-logo.jpg" class="ya-logo" alt="Yandex logo"/>

<section class="search-field">
  <section class="search-categories">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Видео
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Картинки
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Новости
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Карты
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Маркет
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Переводчик
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      Музыка
    </a>

    <a href="https://youtu.be/a3Z7zEc7AXQ" class="search-category">
      ещё
    </a>
  </section>
  <div class="input-wrapper">
    <input class="search-input"/>
    <img src="img/find_btn.png" alt="Найти" class="find-btn"/>
    <img src="img/microphone.svg" alt="Голосовой ввод" class="mic-btn"/>
    <img src="img/keyboard.svg" alt="Экранная клавиатура" class="keyboard-btn"/>
  </div>

  <section class="search-example">
    <p class="dark-text">
      Найдётся всё.
    </p>

    <p class="dark-text search-query-example">
      Например,
    </p>

    <p class="gray-text search-query-example-cont">
      &nbsp;выхожу один я на дорогу
    </p>
  </section>
</section>

<section class="ad-wrapper">
  <img src="img/ad.png" class="ad-img" alt="Advertisment"/>
</section>

<section class="widgets1">
  <section class="widget-visited widget">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Посещаемое</a>
    <ul class="widget__list">
      <li class="widget__list-item"><span class="bold-text">Маркет</span> &mdash; китайская распродажа</li>
      <li class="widget__list-item"><span class="bold-text">Авто.ру</span> &mdash; Туссан третьей серии</li>
      <li class="widget__list-item"><span class="bold-text">Недвижимость</span> &mdash; продажа студии</li>
      <li class="widget__list-item"><span class="bold-text">Работа</span> &mdash; охранником</li>
      <li class="widget__list-item"><span class="bold-text">Здоровье</span> &mdash; врач на связи</li>
      <li class="widget__list-item"><span class="bold-text">Коллекции</span> &mdash; как мелировать волосы</li>
      <li class="widget__list-item"><span class="bold-text">Авиабилеты</span> &mdash; из Екатеринбурга</li>
    </ul>
  </section>

  <section class="widget-TV widget">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Телепрограмма</a>
    <ul class="widget__list">
      <li class="widget__list-item">16:00 &nbsp; Понять. Простить <span class="gray-text">41 Домашний</span></li>
      <li class="widget__list-item">16:30 &nbsp; Место встречи <span class="gray-text">НТВ</span></li>
      <li class="widget__list-item">16:30 &nbsp; Детективы <span class="gray-text">Пятый канал</span></li>
      <li class="widget__list-item">16:30 &nbsp; Новости <span class="gray-text">РЕН ТВ</span></li>
      <li class="widget__list-item">16:30 &nbsp; Гадалка <span class="gray-text">ТВ-3</span></li>
      <li class="widget__list-item">16:30 &nbsp; Реальные пацаны <span class="gray-text">ТНТ</span></li>
    </ul>
  </section>

  <section class="widget-location-info widget">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Погода<img src="img/weather-icon.png" class="weather-icon" alt="weather icon"/></a>
    <ul class="widget__list">
      <li class="widget__list-item">Вечер -5, ночь -7</li>
    </ul>
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Пробки <img src="img/yellow.png" class="yellow-icon" alt="yellow icon"/> 4 балла</a>
    <ul class="widget__list">
      <li class="widget__list-item">Местами затруднения</li>
    </ul>
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Карта Екатеринбурга</a>
    <ul class="widget__list">
      <li class="widget__list-item"><span class="bold-text">Такси Расписание</span></li>
      <li class="widget__list-item"><span class="bold-text">Междугородные автобусы</span></li>
    </ul>
  </section>
</section>

<section class="widgets2">
  <div class="joke-widget-wrapper widget">

    <input checked type="radio" id="refresh-jokes-checkbox1" class="refresh-jokes-checkbox" name="radio-joke"/>
    <input type="radio" id="refresh-jokes-checkbox2" class="refresh-jokes-checkbox" name="radio-joke"/>
    <input type="radio" id="refresh-jokes-checkbox3" class="refresh-jokes-checkbox" name="radio-joke"/>
    <input type="radio" id="refresh-jokes-checkbox4" class="refresh-jokes-checkbox" name="radio-joke"/>
    <input type="radio" id="refresh-jokes-checkbox5" class="refresh-jokes-checkbox" name="radio-joke"/>

    <section class="jokes-widget-1">
      <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Лучшие анекдоты</a>
      <ul class="widget__list">
        <li class="widget__list-item joke-text-1">
          Оксана лежала у бассейна, к ней подошел 18-летний парень с мороженым и предложил познакомиться.
          Она сказала, что ей 30.
          Парень извинился и ушел.
          Через 10 минут он вернулся с пивом.</li>
        <li class="widget__list-item joke-text-2">
          Австралийцы считают встречу с чёрным котом большой удачей.
          Потому что кот — самое безопасное, что водится в Австралии.
        </li>
        <li class="widget__list-item joke-text-3">
          Учитель говорит старшеклассникам:
          <br>
          — Завтра у нас контрольная, чтоб были все!
          <br>
          Вовочка:
          <br>
          — А если я буду ceксуально утомлен?
          <br>
          Учитель:
          <br>
          — Будешь писать другой рукой...
        </li>
        <li class="widget__list-item joke-text-4">
          И повёл он её на рисовое поле, затем на ячменное, потом на ржаное...
          <br>
          Да-а-а, не так она представляла приглашение пройтись по злачным местам...
        </li>
        <li class="widget__list-item joke-text-5">
          Надоели холода? Хочешь туда, где круглый год жаркое лето, море солнца и горячих мужчин, жаждущих познакомиться?
          <br>
          Добро пожаловать на Челябинский литейный завод!
        </li>
      </ul>
    </section>

    <div class="jokes-refresh-container">
      <label class="refresh-jokes-label1" for="refresh-jokes-checkbox1">
          <img src="img/refresh.png" alt="Обновить" class="refresh-jokes__refresh-img"/>
          <span class="refresh-jokes__text ya-link">Показать еще</span>
      </label>
      <label class="refresh-jokes-label2" for="refresh-jokes-checkbox2">
          <img src="img/refresh.png" alt="Обновить" class="refresh-jokes__refresh-img"/>
          <span class="refresh-jokes__text ya-link">Показать еще</span>
      </label>
      <label class="refresh-jokes-label3" for="refresh-jokes-checkbox3">
          <img src="img/refresh.png" alt="Обновить" class="refresh-jokes__refresh-img"/>
          <span class="refresh-jokes__text ya-link">Показать еще</span>
      </label>
      <label class="refresh-jokes-label4" for="refresh-jokes-checkbox4">
          <img src="img/refresh.png" alt="Обновить" class="refresh-jokes__refresh-img"/>
          <span class="refresh-jokes__text ya-link">Показать еще</span>
      </label>
      <label class="refresh-jokes-label5" for="refresh-jokes-checkbox5">
          <img src="img/refresh.png" alt="Обновить" class="refresh-jokes__refresh-img"/>
          <span class="refresh-jokes__text ya-link">Показать еще</span>
      </label>
    </div>
  </div>

  <section class="widget-car widget">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Автомобильные новости</a>
    <div class="shadow shadow-top"></div>
    <ul class="widget__list widget-car__list">
      <li class="widget__list-item">Правительство поддержало законопроект о регистрации машиномест <span class="gray-text small-text">12:19</span></li>
      <li class="widget__list-item">Обзор нового Mitsubishi, за которым выстроилась очередь <span class="gray-text small-text">12:01</span></li>
      <li class="widget__list-item">"Лады" оснастят системой управления со смартфона <span class="gray-text small-text">11:40</span></li>
      <li class="widget__list-item">В китае представили спорткар с двигателем от Focus RS <span class="gray-text small-text">11:30</span></li>
      <li class="widget__list-item">Священник отчитал прихожан, а они заставили его продать Porsche <span class="gray-text small-text">22:28</span></li>
      <li class="widget__list-item">Отмена техосмотра, новые камеры и другое: что ждет водителей в декабре <span class="gray-text small-text">07:30</span></li>
      <li class="widget__list-item">От Lada до Volvo: какие автомобили разыгрывали в «Поле Чудес» <span class="gray-text small-text">вчера</span></li>
      <li class="widget__list-item">Кожа, шпон и роботы: где и как производят Aurus <span class="gray-text small-text">вчера</span></li>
      <li class="widget__list-item">У наркокурьера на BMW не было ОСАГО. Он разбил 10 машин, выплат не будет <span class="gray-text small-text">вчера</span></li>
      <li class="widget__list-item">Для автомобилистов могут изменить правила начисления налога на роскошь <span class="gray-text small-text">вчера</span></li>
    </ul>
    <div class="shadow shadow-bottom"></div>
  </section>

  <section class="widget-playbill widget">
    <a href="https://youtu.be/a3Z7zEc7AXQ" class="widget__title ya-link">Афиша</a>
    <ul class="widget__list">
      <li class="widget__list-item">Субурбикон <span class="gray-text small-text">премьера в чт</span></li>
      <li class="widget__list-item">Последний богатырь <span class="gray-text small-text">приключения</span></li>
      <li class="widget__list-item">Фиксики: Большой секрет <span class="gray-text small-text">мультфильм</span></li>
      <li class="widget__list-item">Тор: Рогнарёк <span class="gray-text small-text">фэнтези</span></li>
      <li class="widget__list-item">Убийство в восточном... <span class="gray-text small-text">драма</span></li>
      <li class="widget__list-item"><span class="bold-text">Концерты &mdash; Brainstorm</span></li>
    </ul>
  </section>
</section>


</body>
</html>
