<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>06-newspaper</title>
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <header class="header">
      <p class="title">Название газеты</p>
      <div class="header-info">
        <p>Город N</p>
        <p>Пятница, Ноябрь 19, 2021</p>
        <p>#0001</p>
      </div>
    </header>
    <main>
      <h1 class="content-header">
        Тут наверное должен быть заголовок какой-нибудь.
      </h1>
      <p>
        Здесь должно быть много бессмысленного текста, который будет
        представлять из себя статью газеты. Зачем вы вообще это читаете?
        Лучше проверьте CSS и HTML в валидаторах. Вы ещё не устали читать
        этот бессмысленный бред? Ну ладно, вот вам интересный факт:
        "McDonald's не продавали гамбургеры, они продавали хот-доги".
        На самом деле это вообще не интересный факт ну да ладно. Что вам еще
        тут написать? Вам не кажется странным, что нас еще ни разу не проверили
        преподаватели? А еще все лекции это записи. Возможно их на самом деле нет.
        Я предполагаю, что это сгенеренные модели людей. Возможно Яндекс тестит
        какую-то новую технологию на нас. Вот вам еще один необычный факт:
        "Во время зевания – человек на мгновение теряет сознание и потом снова приходит в себя."
        Все я устал писать эту статью, надеюсь этого хватит, в крайним случае всегда
        есть Ctrl+C Ctrl+V.
      </p>

      <img class="image" src="image/vlad1.jpeg" alt="Vlad A4">

      <p>
        Здесь должно быть много бессмысленного текста, который будет
        представлять из себя статью газеты. Зачем вы вообще это читаете?
        Лучше проверьте CSS и HTML в валидаторах. Вы ещё не устали читать
        этот бессмысленный бред? Ну ладно, вот вам интересный факт:
        "McDonald's не продавали гамбургеры, они продавали хот-доги".
        На самом деле это вообще не интересный факт ну да ладно. Что вам еще
        тут написать? Вам не кажется странным, что нас еще ни разу не проверили
        преподаватели? А еще все лекции это записи. Возможно их на самом деле нет.
        Я предполагаю, что это сгенеренные модели людей. Возможно Яндекс тестит
        какую-то новую технологию на нас. Вот вам еще один необычный факт:
        "Во время зевания – человек на мгновение теряет сознание и потом снова приходит в себя."
        Все я устал писать эту статью, надеюсь этого хватит, в крайним случае всегда
        есть Ctrl+C Ctrl+V.
      </p>
      <img class="image" src="image/vlad2.jpeg" alt="Vlad A4" />
      <p>
        Здесь должно быть много бессмысленного текста, который будет
        представлять из себя статью газеты. Зачем вы вообще это читаете?
        Лучше проверьте CSS и HTML в валидаторах. Вы ещё не устали читать
        этот бессмысленный бред? Ну ладно, вот вам интересный факт:
        "McDonald's не продавали гамбургеры, они продавали хот-доги".
        На самом деле это вообще не интересный факт ну да ладно. Что вам еще
        тут написать? Вам не кажется странным, что нас еще ни разу не проверили
        преподаватели? А еще все лекции это записи. Возможно их на самом деле нет.
        Я предполагаю, что это сгенеренные модели людей. Возможно Яндекс тестит
        какую-то новую технологию на нас. Вот вам еще один необычный факт:
        "Во время зевания – человек на мгновение теряет сознание и потом снова приходит в себя."
        Все я устал писать эту статью, надеюсь этого хватит, в крайним случае всегда
        есть Ctrl+C Ctrl+V.
      </p>
      <img class="image" src="image/vlad3.jpeg" alt="Vlad A4" />
      <p>
        Здесь должно быть много бессмысленного текста, который будет
        представлять из себя статью газеты. Зачем вы вообще это читаете?
        Лучше проверьте CSS и HTML в валидаторах. Вы ещё не устали читать
        этот бессмысленный бред? Ну ладно, вот вам интересный факт:
        "McDonald's не продавали гамбургеры, они продавали хот-доги".
        На самом деле это вообще не интересный факт ну да ладно. Что вам еще
        тут написать? Вам не кажется странным, что нас еще ни разу не проверили
        преподаватели? А еще все лекции это записи. Возможно их на самом деле нет.
        Я предполагаю, что это сгенеренные модели людей. Возможно Яндекс тестит
        какую-то новую технологию на нас. Вот вам еще один необычный факт:
        "Во время зевания – человек на мгновение теряет сознание и потом снова приходит в себя."
        Все я устал писать эту статью, надеюсь этого хватит, в крайним случае всегда
        есть Ctrl+C Ctrl+V.
      </p>
      <div class="vertical-text">Поставьте мне фул бал пж!</div>
    </main>
  </body>
</html>
